.ContactStyle
{
    
    height:500px;
     width:100%;
    background-color:crimson;
    
    color:white;
    
    
}


.ContactStyle h2{
  
    align-content: center;
    justify-content: center;
    
    display: flex;  
    
   
}
.form {
    align-content: center;
    justify-content: center;
    
    display: flex; 
    
}
