
*{
    margin:0;
    padding:0;
}

.menuStyle{
    
    width:100%;
    height:100px;
    background-color: bisque;
}
.menuStyle ul{
    height: 100px;
    display:flex;  
    justify-content: space-around;
    align-items: center;
}
.menuStyle ul li{
    list-style: none;
    text-transform: uppercase;
    color:white;
}
.menuStyle ul li a{
    text-decoration: none;
    color: azure;
}


